# Arduino build artifacts
build/
*.elf
*.bin
*.hex
*.map
*.sym

# ESP-IDF / PlatformIO
.pio/
.pioenvs/
.piolibdeps/
sdkconfig
sdkconfig.old


# OS generated
.DS_Store
Thumbs.db
desktop.ini

# IDEs
.vscode/
*.code-workspace
*.suo
*.user

# Logs
*.log


#skills
EXEMPLE.md
SKILL.md